Привет, Строгий Контроль!<br />
<%= cr[:authors].to_sentence.html_safe %>
решил поменять кое-что критичное, а именно:<br />
<pre>
.gitattributes
</pre><br />
Вот тут подробности:<br />
<%= cr[:pullrequests]
      .map{|l| "<a href='"+ l[:url] +"'>"+ l[:name] +"</a>"}
      .join("<br />\n").html_safe%>
<br />Удачи!
